//varibles
$w: #fff;
$b: #333;
$t: transparent;
$blue: #448ef6;
$yellow: #ffe26f;
$rating: #e4734f;
$text: #333;
$text2: #666;
$border: #888;
$user: user, email, phone, location;
$poweredby: mongodb, expressjs, angular7, nodejs, typescript, javascript, git, sass, redux, rxjs;
$bg: cart, wishlist, order, logout;

@font-face{
    font-family: 'Opensans';
    font-weight: 300;
    src: url(assets/fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face{
    font-family: 'Opensans';
    font-weight: 400;
    src: url(assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face{
    font-family: 'Opensans';
    font-weight: 700;
    src: url(assets/fonts/OpenSans-Bold.ttf) format("truetype");
}
@mixin light($size){
    font: 300 #{$size}px 'Opensans';
}
@mixin reg($size){
    font: 400 #{$size}px 'Opensans';
}
@mixin bold($size){
    font: 700 #{$size}px 'Opensans';
}
@mixin transition{
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
@mixin transit($time){
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    transition: all $time ease-out;
}
@mixin transitEase($time, $easing){
    -webkit-transition: all $time $easing;
    -moz-transition: all $time $easing;
    transition: all $time $easing;
}
@mixin tl($top, $left){
    position: absolute;
    top: $top;
    left: $left;
}
@mixin tr($top, $right){
    position: absolute;
    top: $top;
    right: $right;
}
@mixin bl($bottom, $left){
    position: absolute;
    bottom: $bottom;
    left: $left;
}
@mixin br($bottom, $right){
    position: absolute;
    bottom: $bottom;
    right: $right;
}
@mixin radius($size){
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}
@mixin tl-radius($size){
    -webkit-border-top-left-radius: $size;
    -moz-border-top-left-radius: $size;
    border-top-left-radius: $size;
}
@mixin tr-radius($size){
    -webkit-border-top-right-radius: $size;
    -moz-border-top-right-radius: $size;
    border-top-right-radius: $size;
}
@mixin bl-radius($size){
    -webkit-border-bottom-left-radius: $size;
    -moz-border-bottom-left-radius: $size;
    border-bottom-left-radius: $size;
}
@mixin br-radius($size){
    -webkit-border-bottom-right-radius: $size;
    -moz-border-bottom-right-radius: $size;
    border-bottom-right-radius: $size;
}
@mixin boxshadow($a, $b, $c, $d, $e, $f, $g){
    -webkit-box-shadow: $a $b $c rgba($d, $e, $f, $g);
    -moz-box-shadow: $a $b $c rgba($d, $e, $f, $g);
    box-shadow: $a $b $c rgba($d, $e, $f, $g);
}
@mixin basvg($svg, $width, $height, $bgsize){
    background: url('assets/images/#{$svg}.svg') no-repeat;
    content: '';
    width: $width;
    height: $height;
    background-size: $bgsize;
}
@mixin bajpg($jpg, $width, $height, $bgsize){
    background: url('assets/images/#{$jpg}.jpg') no-repeat;
    content: '';
    width: $width;
    height: $height;
    background-size: $bgsize;
}
@mixin bapng($png, $width, $height, $bgsize){
    background: url('assets/images/#{$png}.png') no-repeat;
    content: '';
    width: $width;
    height: $height;
    background-size: $bgsize;
}
@mixin transform($t){
    -webkit-transform: $t;
    -moz-transform: $t;
    transform: $t;
}
@mixin svg($svg){
    background: url('assets/images/#{$svg}.svg') no-repeat;
}
@mixin jpg($jpg){
    background: url('assets/images/#{$jpg}.jpg') no-repeat;
}
@mixin png($png){
    background: url('assets/images/#{$png}.png') no-repeat;
}
@mixin material{
    @include boxshadow(0, 0, 8px, 0, 0, 0, 0.3);
}
.full-width{
    width: 100%;
}
.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .tabled{
        display: table;
        width: 100%;
        height: 100%;
    }
    .celled{
        display: table-cell;
        vertical-align: middle;
    }
}
