<div class="card-wrapper">
    <a [routerLink]="['/product', product.productId]" class="card">
        <div *ngIf="isFetching | async" class="loader"></div>
        <img [src]="product.imgSrc" alt="">
        <div class="card-inner">
            <span class="brand">{{ product.brand }}</span>
            <span class="title">{{ product.title }}</span>
            <span class="category">category: {{ product.category }}</span>
            <span class="price">{{ product.price }}</span>
            <div class="rating">
                <em>{{ product.rating }}</em>
            </div>
        </div>
    </a>
    <a (click)="toggleWishlist(product, wishlistStatus)" class="wishlist-icon" [class.true]="wishlistStatus" href="javascript:void(0)"></a>
    <a (click)="toggleCart(product, cartStatus, product.sizesAvailable[0])" class="cart-icon" [class.true]="cartStatus" href="javascript:void(0)"></a>
</div>