<div class="default-content">
    <app-dash-links class="tablet"></app-dash-links>
    <!-- cart products -->
    <section class="cart-section" *ngIf="(cartProducts | async)?.length > 0; else nocart">
        <div *ngIf="isFetching | async" class="loader"></div>
        <div class="desktop-flex">
            <table id="cart-table" class="table table-responsive">
                <thead>
                    <tr>
                        <th>product</th>
                        <th>title</th>
                        <th>quantity</th>
                        <th>size</th>
                        <th>price</th>
                        <th>item total</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of cartProducts | async">
                        <td><a [routerLink]="['/product', p.productId]"><img src="{{p.imgSrc}}" alt=""></a></td>
                        <td>{{p.title}}</td>
                        <td class="choose-wrapper">
                            <div><button [class.hiddden]="p.quantity === 1" (click)="decrement(p)" class="min">-</button></div>
                            <span>{{p.quantity}}</span>
                            <div><button (click)="increment(p)" class="max">+</button></div>
                        </td>
                        <td>{{p.size}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.totalPrice}}</td>
                        <td><button (click)="removeFromCart(p)" class="delete-cart"></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="amount-container">
                <div class="title1">price details</div>
                <div class="amount-flex">
                    <div class="title2">amount payable</div>
                    <span>{{ cartAmount | async }}</span>
                </div>
                <input #orderedProducts type="hidden" [value]="cartProducts | async">
                <button (click)="placeOrder()">place order</button>
            </div>
        </div>
    </section>
    <ng-template #nocart>
        <div class="no-data"><span>no products in cart!</span></div>
    </ng-template>
</div>