<div class="product-container padding">
    <div class="col-xs-12" *ngIf="productReceived">
        <div class="product">
            <div *ngIf="isFetching | async" class="loader"></div>
            <div class="text-center">
                <img [src]="productDetails.imgSrc" alt="">
            </div>
            <div class="desktop-block">
                <div class="card-inner">
                    <span class="brand">{{ productDetails.brand }}</span>
                    <span class="title">{{ productDetails.title }}</span>
                    <span class="category">category: {{ productDetails.category }}</span>
                    <span class="price">{{ productDetails.price }}</span>
                    <div class="rating">
                        <em>{{ productDetails.rating }}</em>
                    </div>
                    <a (click)="toggleWishlist(productDetails, wishlistStatus)" class="wishlist-icon" [class.true]="wishlistStatus" href="javascript:void(0)"></a>
                </div>
                <div class="size">
                    <div class="title">sizes available</div>
                    <div class="size-flex">
                        <ng-container *ngIf="sizes.length > 1; else nosize">
                            <a *ngFor="let s of sizes" [class.size-chosen]="setSize == s" (click)="setSize = s" href="javascript:void(0)">{{ s }}</a>
                        </ng-container>
                        <ng-template #nosize>
                            <span>NA</span>
                        </ng-template>
                    </div>
                </div>
                <div class="details">
                    <div class="title">product details</div>
                    <p><span>color</span><i>{{ productDetails.color }}</i></p>
                    <p><span>material</span><i>{{ productDetails.material }}</i></p>
                    <p><span>category</span><i>{{ productDetails.category }}</i></p>
                    <p><span>description</span>{{ productDetails.description }}</p>
                    <button #cartButton (click)="toggleCart(productDetails, cartStatus, setSize)" class="cart">
                        {{ cartText }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>