<!-- LOADING BAR -->
<ng2-slim-loading-bar [color]="'#F7A200'" [height]="'3px'"></ng2-slim-loading-bar>

<!-- APP -->
<div id="root-container">
    <!-- HEADER -->
    <header>
        <a class="logo" [routerLink]="['/home']">
            <img src="../assets/images/logo.png" alt="">
            <div class="site-title">shopify</div>
        </a>
        <div class="header-extras">
            <a class="home" [routerLink]="['/home']" title="Home" [routerLinkActive]="['active']"></a>
            <a (click)="showSearch()" class="search" href="javascript:void(0)" title="Search"></a>
            <a class="profile" [routerLink]="['/profile']" [routerLinkActive]="['active']" title="User Dashboard"></a>
            <a class="cart" [routerLink]="['/cart']" [routerLinkActive]="['active']" title="Cart">
                <span *ngIf="showQuantity" class="notif-icon">{{ cartQuantity | async }}</span>
            </a>
        </div>
    </header>
    <!-- ROUTER OUTLET -->
    <router-outlet></router-outlet>
    <!-- SEARCH -->
    <section class="search-section" [hidden]="hideSearchContainer">
        <div class="tabled">
            <a (click)="hideSearch()" class="close-search" href="javascript:void(0)"></a>
            <div class="celled">
                <div class="search-content">
                    <input type="text" placeholder="Search..." #searchBox autofocus>
                    <div *ngIf="searchLoader" class="search-loader"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <footer>
    <spaan></spaan>
    <spaan></spaan>
    <spaan></spaan>
    <spaan></spaan>
</footer> -->
    