<div class="default-content">
    <app-dash-links></app-dash-links>
    
    <div class="order-wrapper">
        <div *ngIf="loading" class="loader"></div>
        <section *ngIf="orderList?.length > 0; else noorders" class="order-section row">
            <div class="col-xs-12">
                <span class="dashboard-title">orders</span>
            </div>
            <ng-container *ngFor="let instance of orderList; let ind = index;">
                <div class="col-lg-6">
                    <a [routerLink]="['/product', instance.productId]" class="order-list">
                        <div class="img-holder"><img [src]="instance.imgSrc" alt=""></div>
                        <div class="order-left">
                            <div class="title">{{ instance.title }}</div>
                            <span>size: {{ instance.size }}</span>
                            <span>quantity: {{ instance.quantity }}</span>
                            <span>price: {{ instance.price }}</span>
                        </div>
                        <div class="order-right">
                            <div class="ordered-on">Ordered on: {{ instance.dated }}</div>
                            <div class="total-price">total price: <em>{{ instance.totalPrice }}</em></div>
                        </div>
                        <div class="order-status">
                            <div class="inner" [class.start-slider]="startSlider">
                                <i></i>
                                <span>order placed</span>
                                <span>order confirmed</span>
                                <span>order sent</span>
                                <span>delivered</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix" *ngIf="((ind + 1) % 2 === 0) && windowWidth >= 1200"></div>
            </ng-container>
        </section>
        <ng-template #noorders>
            <div class="no-data"><span>No orders to show!</span></div>
        </ng-template>
    </div>
</div>