@import './assets/scss/base';

body{
    width: 100%;
    height: 100%;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #ccc;
}
#root-container{
    min-height: 102vh;
}
footer{
    display: none;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
.slim-loading-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .slim-loading-bar-progress{
        width: 100%;
    }
}
button::-moz-focus-inner {
    border: 0;
}
.mobile{
    display: block;
}
.tablet, .desktop{
    display: none;
}  
a{
    outline: 0;

    &:hover, &:active, &:visited, &:focus{
        text-decoration: none;
    }
}
.padding, .default-content{
    padding: 30px;
}
header{
    @include boxshadow(0, 0, 6px, 0, 0, 0, 0.35);
    padding: 15px 35px;
    background: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    .logo{
        display: inline-block;

        .site-title{
            display: none;
        }
    }
    .header-extras{
        a{
            display: inline-block;
            width: 45px;
            height: 45px;
            margin-right: 15px;
            border: 1px solid $t;

            &.search{
                @include svg(search);
                background-size: 20px;
                background-position: center;
            }
            &.profile{
                @include svg(user);
                background-size: 20px;
                background-position: center;
            }
            &.cart{
                @include svg(cart);
                background-size: 26px;
                background-position: center;
                margin-right: 0;
                position: relative;

                .notif-icon{
                    @include tr(-6px, -6px);
                    @include boxshadow(0, 0, 5px, 0, 0, 0, 0.25);
                    @include radius(50%);
                    @include reg(12);
                    background: red;
                    color: $w;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    text-align: center;
                }
            }
            &.active{
                @include radius(3px);
                border-color: rgba(255, 255, 255, 0.45);

                &.profile{
                    @include svg(user-active);
                    background-size: 20px;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.15);
                }
                &.cart{
                    @include svg(cart-active);
                    background-size: 26px;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
.category-content{
    padding: 30px;
    position: relative;
}
.card-wrapper{
    @include boxshadow(0, 0, 10px, 0, 0, 0, 0.3);
    @include radius(6px);
    overflow: hidden;
    position: relative;
    background: $w;
    margin-bottom: 30px;

    .card{
        display: block;
        padding-top: 50px;

        img{
            max-width: 100%;
            margin: auto;
            width: auto;
            padding: 0 15px;
        }
        &:hover{
            text-decoration: none;
        }
    }
    .wishlist-icon, .cart-icon{
        @include boxshadow(0, 0, 6px, 0, 0, 0, 0.35);
        @include radius(50%);
        @include tr(20px, 20px);
        width: 40px;
        height: 40px;
    }
    .cart-icon{
        @include svg(cart-off);
        background-size: 22px;
        background-color: $w;
        background-position: center;
        top: auto;
        bottom: 20px;

        &.true{
            @include svg(cart-on);
            background-size: 22px;
            background-color: $w;
            background-position: center;
        }
    }
    .wishlist-icon{
        @include svg(heart-false);
        background-size: 18px;
        background-color: $w;
        background-position: center;
        
        &.true{
            @include svg(heart-true);
            background-size: 18px;
            background-color: $w;
            background-position: center;
        }
    }
}
.card-inner{
    padding: 20px;

    span{
        @include reg(16);
        color: $text;
        display: block;
        text-transform: capitalize;
        margin-bottom: 5px;

        &.brand{
            text-decoration: underline;
            color: $blue;
        }
        &.title{
            @include reg(20);
            color: $b;
        }
        &.category{
            @include reg(12);
            color: $border;
        }
        &.price{
            @include light(24);
            margin-bottom: 0;
        }
    }
}
.price{
    display: inline-block;
    position: relative;
    padding-left: 25px;

    &:before{
        @include basvg(rupee, 20px, 20px, 18px);
        @include tl(50%, 0);
        margin-top: -9px;
        background-position: center;
    }
}
.categories{
    overflow: hidden;
    margin-bottom: 20px;

    a{
        @include reg(14);
        display: block;
        width: calc(100% / 3);
        float: left;
        padding: 15px 0;
        text-align: center;
        background: $blue;
        color: $w;
        text-transform: uppercase;
        border-right: 1px solid rgba(255, 255, 255, 0.35);

        &:last-child{
            border: none;
        }
        &.active{
            background: darken($blue, 5%);
        }
    }
}
.no-data{
    @include reg(22);
    color: $blue;
    text-transform: uppercase;
    margin: 100px 0;
    text-align: center;

    span{
        position: relative;
        padding-left: 50px;
        display: inline-block;

        &:before{
            @include tl(50%, 0);
            @include basvg(no-data, 30px, 30px, 30px);
            margin-top: -15px;
        }
    }
}
.product-container{
    .product{
        @include boxshadow(0, 0, 10px, 0, 0, 0, 0.15);
        @include radius(6px);
        padding-top: 30px;

        img{
            margin-bottom: 20px;
            max-width: 100%;
            width: auto;
            display: inline-block;
        }
        .card-inner{
            span.price{
                @include bold(30);

                &:before{
                    width: 30px;
                    height: 30px;
                }
            }
            .price{
                padding-left: 30px;

                &:before{
                    background-size: 21px;
                    margin-top: -14px;
                }
            }
        }
        .details{
            padding: 20px;

            .title{
                @include bold(16);
                padding: 15px 0;
                color: $text2;
                margin-bottom: 10px;
                text-transform: uppercase;
                position: relative;

                &:after{
                    @include bl(0, 0);
                    background: $text2;
                    width: 45px;
                    height: 2px;
                    content: '';
                }
            }
            p{
                @include reg(14);
                color: $text2;
                line-height: 26px;
                text-align: justify;

                span{
                    color: $border;
                    margin-right: 30px;
                    text-transform: capitalize;
                    min-width: 80px;
                    display: inline-block;
                }
                i{
                    font-style: normal;
                    text-transform: capitalize;
                }
            }
        }
        .cart{
            @include radius(20px);
            @include bold(16);
            background: $yellow;
            color: #333;
            text-transform: uppercase;
            display: inline-block;
            padding: 5px 40px;
            border: 1px solid $t;
            margin: 20px 0;

            &[disabled]{
                pointer-events: none;
                background: #ccc;
                color: $w;
            }
        }
    }
}
.size{
    background: #f5f5f5;
    padding: 35px 20px;

    .size-flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        a, span{
            @include reg(13);
            @include radius(3px);
            border: 1px solid $border;
            background: $w;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 38px;
            text-align: center;
            margin-right: 10px;
    
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .title{
        @include reg(18);
        text-transform: capitalize;
        margin-bottom: 10px;
        color: $text2;
    }
}
.rating{
    margin-top: 8px;

    em{
        @include radius(20px);
        @include reg(14);
        font-style: normal;
        background: $rating;
        color: $w;
        display: inline-block;
        padding: 4px 28px 4px 18px;
        position: relative;

        &:after{
            @include basvg(star, 10px, 10px, 10px);
            @include tr(50%, 10px);
            margin-top: -5px;
        }
    }
}
.profile-children{
    @include boxshadow(0, 0, 10px, 0, 0, 0, 0.25);
    @include radius(6px);
    padding: 35px 20px;
    overflow: hidden;
    position: relative;
}
.loader{
    @include tl(0, 0);
    @include svg(loader);
    background-size: 50px;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.form-wrapper{
    .title{
        @include light(28);
        text-transform: uppercase;
        color: $text2;
        text-align: center;
        margin-bottom: 20px;
    }
    .relative{
        padding: 20px 0 0;
        margin-bottom: 20px;
    }
    input[type="text"], input[type="password"]{
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1px solid $border;
    }
    .action{
        @include radius(50px);
        @include bold(15);
        background: $blue;
        color: $w;
        border: 1px solid $t;
        padding: 10px 80px;
        text-transform: capitalize;
        margin-top: 20px;
        
        &.disabled{
            background: #ccc;
            pointer-events: none;
        }
    }
}
.user-registered{
    padding: 100px 50px;
    background: $w;
    text-align: center;

    span{
        @include light(20);
        display: block;
        color: $text2;
        text-transform: capitalize;
        margin-bottom: 30px;

        &.sub{
            font-size: 16px;
            color: $b;
        }
    }
    a{
        @include radius(20px);
        @include reg(12);
        background: $blue;
        color: $w;
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $t;
    }
    &.failed{
        @include tl(0, 0);
        width: 100%;
        height: 100%;
    }
}
.login-failed{
    @include reg(14);
    @include radius(3px);
    padding: 15px 0;
    text-align: center;
    margin: 35px 0 15px;
    background: #ff5959;
    color: $w;
}
.switch{
    @include reg(13);
    color: $text2;
    text-align: center;
    margin: 35px 0 15px;

    a{
        color: $blue;
        position: relative;

        &:after{
            @include bl(0, 0);
            width: 100%;
            height: 1px;
            background: $blue;
            content: '';
        }
    }
}
.text-box{
    position: relative;

    .caption{
        @include transit(0.1s);
        @include tl(30px, 0);
        @include reg(14);
        pointer-events: none;
        font-style: normal;
        text-transform: capitalize;
        color: $text2;
    }
    &.filled{
        .caption{
            font-size: 12px;
            color: $blue;
            top: 0;
        }
    }
    .field-error{
        @include reg(12);
        color: #ff0000;
        margin: 5px 0 0;
        display: block;
        position: relative;
        padding-left: 10px;
        text-transform: capitalize;

        &:before{
            @include bold(12);
            @include tl(0, 0);
            content: '*';
        }
    }
}
.dashboard-flex{
    display: flex;
    flex-direction: column;

    a, div{
        @include light(18);
        @include boxshadow(0, 0, 10px, 0, 0, 0, 0.3);
        @include radius(3px);
        display: block;
        margin-bottom: 20px;
        background: $yellow;
        color: $b;
        border: 1px solid $t;
        text-transform: capitalize;
        text-align: center;
        padding: 30px 0;
    }
}
.dashboard-title{
    @include bold(20);
    padding: 40px 0 20px;
    text-transform: capitalize;
    display: block;
    position: relative;

    &:after{
        @include bl(16px, 0);
        width: 60px;
        height: 1px;
        background: $blue;
        content: '';
    }
}
.user-details{
    div{
        font-size: 14px;
        color: $text2 !important;
        background: #eeeeee;
        color: $blue;
        padding: 100px 30px 50px !important;
        position: relative;

        &.email{
            text-transform: lowercase;
        }
        &:before{
            @include tl(50px, 50%);
            margin-left: -15px;
            content: '';
            width: 30px;
            height: 30px;
        }
        @each $item in $user{
            $index: index($user, $item);
            &:nth-child(#{$index}):before{
                @include svg(#{$item}-blue);
                background-size: 30px;
                background-position: center;
            }
        }
    }
}
#toastr-container.bottom-right{
    bottom: 26px;
    right: 30px;
}
.cart-section{
    position: relative;
}
#cart-table{
    table-layout: fixed;
    word-break: break-all;
    
    &.table{
        border-color: grey;
    }
    &.table > thead > tr > th{
        border-bottom: none;
    }
    .choose-wrapper{
        span{
            display: block;
            margin: 10px 0;
        }
        span, button{
            display: inline-block;
            vertical-align: middle;
        }
        button{
            @include radius(50%);
            width: 20px;
            height: 20px;
            border: 1px solid #333;
            background: $t;
            text-align: center;
            line-height: 20px;
            font-size: 0 !important;

            &.min{
                @include svg(min);
                background-position: center;
                background-size: 8px;
            }
            &.max{
                @include svg(max);
                background-position: center;
                background-size: 8px;
            }
            &.hiddden{
                display: none;
            }
        }
    }
    .delete-cart{
        @include svg(delete);
        background-size: 20px;
        background-position: center;
        width: 20px;
        height: 20px;
        border: none;
    }
    tr{
        th{
            background: #eeeeee;
            padding: 20px 0;
        }
        td{
            padding: 20px 5px;
        }
        th, td{
            @include reg(10);
            text-transform: capitalize;
            vertical-align: middle;
            text-align: center;

            &:first-child{
                display: none;
            }
        }
    }
}
.amount-flex{
    @include radius(6px);
    @include boxshadow(0, 0, 10px, 0, 0, 0, 0.2);
    margin-top: 40px;
    padding: 30px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;

    .title{
        @include reg(20);
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    span{
        @include bold(32);
        color: $blue;
        display: inline-block;
        position: relative;
        padding-left: 30px;

        &:before{
            @include basvg(rupee, 22px, 22px, 22px);
            @include tl(50%, 0);
            margin-top: -10px;
        }
    }
}
//responsive
@media only screen and (min-width: 480px){
    #cart-table{
        tr{
            td{
                font-size: 14px;
            }
            th{
                @include bold(14);
            }
        }
    }
    header{
        .logo{
            .site-title{
                @include reg(22);
                color: $w;
                display: inline-block;
                vertical-align: middle;
                color: $w;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }
    }
    .card-wrapper{
        .card img{
            padding: 0 30px;
        }
    }
}

@media only screen and (min-width: 768px){
    .tablet{
        display: block;
    }
    header{
        padding-left: 60px;
        padding-right: 60px;
    }
    .padding, .default-content, .profile-children{
        padding: 45px;
    }
    .category-content{
        padding: 45px;
    }
    .profile-children{
        width: 650px;
        margin: auto;
    }
    .user-registered{
        span{
            font-size: 32px;
        }
        a{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .dashboard-flex{
        margin-bottom: 20px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        a, div{
            width: 24%;
            margin-bottom: 0;
        }
    }
    #cart-table{
        margin-top: 40px;
    }
    .amount-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title{
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 992px){
    .product-container{
        .product{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;

            .text-center{
                width: 40%;
            }
            .desktop-block{
                width: 58%;
                border-left: 1px solid #ddd;
                
                .card-inner{
                    padding: 40px;
                }
            }
            .details{
                padding: 40px;
            }
        }
    }
    #cart-table{
        @include radius(4px);
        @include boxshadow(0, 0, 15px, 0, 0, 0, 0.15);
        overflow: hidden;

        .choose-wrapper{
            div, span{
                display: inline-block;
                vertical-align: middle;
            }
            span{
                margin: 0;
                width: 45px;
            }
        }
        tr{
            th{
                font-size: 16px;
            }
            th, td{
                &:first-child{
                    display: table-cell;
                }
            }
            td{
                @include reg(16);
            }
        }
        img{
            width: 100px;
        }
    }
    .size{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 1200px){
    #root-container{
        margin-bottom: 80px;
        position: relative;
        z-index: 100;
        overflow: hidden;
        background-color: $w;
    }
    // footer{
    //     display: block;
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 1;
    //     bottom: 0;
    //     width: 100%;
    //     height: 80px;
    //     background: #ccc;
    //     text-align: center;

    //     span{
    //         display: inline-block;
    //         width: 50px;
    //         height: 50px;
            
    //         &:not(:first-child){
    //             margin-right: 30px;
    //         }
    //         @each $item in $poweredby{
    //             $index: index($poweredby, $item);
    //             &:nth-child(#{$index}){
    //                 @include png(#{$item});
    //                 background-size: 40px;
    //                 background-position: center;
    //             }
    //         }
    //     }
    // }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    a, button, input[type="submit"]{
        @include transition;
    }
    .card-wrapper{
        @include transition;

        &:hover{
            @include boxshadow(0, 0, 10px, 0, 0, 0, 0.4);
        }
        .wishlist{
            @include transition;

            &:hover{
                @include boxshadow(0, 0, 0, 0, 0, 0, 0.0);
                border: 1px solid $border;
            }
        }
    }
    .card-inner{
        padding: 30px;
        position: relative;

        .rating{
            @include radius(50%);
            width: 40px;
            height: 40px;
            padding: 0;
            line-height: 40px;
        }
    }
    .categories{
        a{
            &:hover{
                background: darken($blue, 5%);
            }
        }
    }
    .product-container{
        .product{
            .desktop-block{
                min-width: 80vh;
            }
            .cart:hover{
                background: $blue;
                color: $w;
            }
        }
    }
    .size{
        padding: 40px;
    }
    .form-wrapper{
        .action:hover{
            background: $t;
            color: $text2;
            border-color: $blue;
        }
    }
    .user-registered{
        a:hover{
            background: $t;
            border-color: $blue;
            color: $blue;
        }
    }
    .dashboard-flex{
        a:hover{
            background: darken($yellow, 15%);
        }
    }
    #cart-table{
        .choose-wrapper{
            button{
                width: 28px;
                height: 28px;

                &:hover{
                    background-color: $yellow;
                }
                &.min, &.max{
                    background-size: 9px;
                    background-position: center;
                }
                &.hiddden{
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }
}