@import './assets/scss/base';

body{
    width: 100%;
    height: 100%;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background: #aaa;
}
#root-container{
    min-height: 102vh;
}
footer{
    display: none;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
.slim-loading-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .slim-loading-bar-progress{
        width: 100%;
    }
}
button::-moz-focus-inner {
    border: 0;
}
.mobile{
    display: block;
}
.desktop{
    display: none;
}  
a{
    outline: 0;

    &:hover, &:active, &:visited, &:focus{
        text-decoration: none;
    }
}
.padding, .default-content{
    padding: 30px;
}
header{
    @include material;
    padding: 15px 35px;
    background: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    .logo{
        display: none;

        .site-title{
            display: none;
        }
    }
    .header-extras{
        text-align: center;
        width: 100%;

        a{
            display: inline-block;
            width: 45px;
            height: 45px;
            margin-right: 15px;
            border: 1px solid $t;

            &.home{
                @include svg(home);
                background-size: 24px;
                background-position: center;
            }
            &.search{
                @include svg(search);
                background-size: 20px;
                background-position: center;
            }
            &.profile{
                @include svg(user);
                background-size: 20px;
                background-position: center;
            }
            &.cart{
                @include svg(cart);
                background-size: 26px;
                background-position: center;
                margin-right: 0;
                position: relative;

                .notif-icon{
                    @include tr(-6px, -6px);
                    @include boxshadow(0, 0, 5px, 0, 0, 0, 0.25);
                    @include radius(50%);
                    @include reg(12);
                    background: red;
                    color: $w;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    display: inline-block;
                    text-align: center;
                }
            }
            &.active{
                @include radius(3px);
                border-color: rgba(255, 255, 255, 0.45);

                &.profile{
                    @include svg(user-active);
                    background-size: 20px;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.15);
                }
                &.cart{
                    @include svg(cart-active);
                    background-size: 26px;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.15);
                }
                &.home{
                    @include svg(home-active);
                    background-size: 24px;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
.category-content{
    padding: 30px;
    position: relative;
}
.card-wrapper{
    @include material;
    @include radius(6px);
    overflow: hidden;
    position: relative;
    background: $w;
    margin-bottom: 30px;

    .card{
        display: block;
        padding-top: 50px;
        position: relative;

        img{
            max-width: 100%;
            margin: auto;
            width: auto;
            padding: 0 15px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
.wishlist-icon, .cart-icon{
    @include boxshadow(0, 0, 10px, 0, 0, 0, 0.45);
    @include radius(50%);
    @include tr(25px, 25px);
    width: 40px;
    height: 40px;
}
.cart-icon{
    @include svg(cart-off);
    background-size: 22px;
    background-color: $w;
    background-position: center;
    top: auto;
    bottom: 25px;

    &.true{
        @include svg(cart-on);
        background-size: 22px;
        background-color: $w;
        background-position: center;
    }
}
.wishlist-icon{
    @include svg(heart-false);
    background-size: 18px;
    background-color: $w;
    background-position: center;
    
    &.true{
        @include svg(heart-true);
        background-size: 18px;
        background-color: $w;
        background-position: center;
    }
}
.card-inner{
    padding: 20px;

    span{
        @include reg(16);
        color: $text;
        display: block;
        text-transform: capitalize;
        margin-bottom: 5px;

        &.brand{
            text-decoration: underline;
            color: $blue;
        }
        &.title{
            @include reg(20);
            color: $b;
        }
        &.category{
            @include reg(12);
            color: $border;
        }
        &.price{
            @include light(24);
            margin-bottom: 0;
        }
    }
}
.price{
    display: inline-block;
    position: relative;
    padding-left: 25px;

    &:before{
        @include basvg(rupee, 20px, 20px, 18px);
        @include tl(50%, 0);
        margin-top: -9px;
        background-position: center;
    }
}
.categories{
    overflow: hidden;
    margin-bottom: 20px;

    a{
        @include reg(14);
        display: block;
        width: calc(100% / 3);
        float: left;
        padding: 15px 0;
        text-align: center;
        background: $blue;
        color: $w;
        text-transform: uppercase;
        border-right: 1px solid rgba(255, 255, 255, 0.35);

        &:last-child{
            border: none;
        }
        &.active{
            background: darken($blue, 5%);
        }
    }
}
.no-data{
    @include reg(16);
    color: $blue;
    text-transform: uppercase;
    margin: 100px 0;
    text-align: center;

    span{
        position: relative;
        padding-left: 45px;
        display: inline-block;

        &:before{
            @include tl(50%, 0);
            @include basvg(no-data, 30px, 30px, 30px);
            margin-top: -15px;
        }
    }
}
.product-container{
    .product{
        @include boxshadow(0, 0, 10px, 0, 0, 0, 0.15);
        @include radius(6px);
        padding-top: 50px;
        position: relative;

        .wishlist-icon{
            right: 35px;
        }
        img{
            margin-bottom: 20px;
            max-width: 100%;
            width: auto;
            display: inline-block;
        }
        .card-inner{
            span.price{
                @include bold(30);

                &:before{
                    width: 30px;
                    height: 30px;
                }
            }
            .price{
                padding-left: 30px;

                &:before{
                    background-size: 21px;
                    margin-top: -14px;
                }
            }
        }
        .details{
            padding: 20px;

            .title{
                @include bold(16);
                padding: 15px 0;
                color: $text2;
                margin-bottom: 10px;
                text-transform: uppercase;
                position: relative;

                &:after{
                    @include bl(0, 0);
                    background: $text2;
                    width: 45px;
                    height: 2px;
                    content: '';
                }
            }
            p{
                @include reg(14);
                color: $text2;
                line-height: 26px;
                text-align: justify;

                span{
                    color: $border;
                    margin-right: 30px;
                    text-transform: capitalize;
                    min-width: 80px;
                    display: inline-block;
                }
                i{
                    font-style: normal;
                    text-transform: capitalize;
                }
            }
        }
        .cart{
            @include radius(20px);
            @include bold(16);
            background: $yellow;
            color: #333;
            text-transform: uppercase;
            display: inline-block;
            padding: 5px 40px;
            border: 1px solid $t;
            margin: 20px 0;

            &[disabled]{
                pointer-events: none;
                background: #ccc;
                color: $w;
            }
        }
    }
}
.size{
    background: #f5f5f5;
    padding: 35px 20px;

    .size-flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        a, span{
            @include reg(13);
            @include radius(3px);
            border: 1px solid $border;
            background: $w;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 38px;
            text-align: center;
            margin-right: 10px;
    
            &:last-child{
                margin-right: 0;
            }
        }
        a.size-chosen{
            background: $yellow;
            color: #333333;
        }
    }
    .title{
        @include reg(18);
        text-transform: capitalize;
        margin-bottom: 10px;
        color: $text2;
    }
}
.rating{
    margin-top: 8px;

    em{
        @include radius(20px);
        @include reg(14);
        font-style: normal;
        background: #ffb228;
        color: $w;
        display: inline-block;
        padding: 4px 28px 4px 18px;
        position: relative;

        &:after{
            @include basvg(star, 10px, 10px, 10px);
            @include tr(50%, 10px);
            margin-top: -5px;
        }
    }
}
.profile-children{
    @include material;
    @include radius(6px);
    padding: 35px 20px;
    overflow: hidden;
    position: relative;
}
.loader{
    @include tl(0, 0);
    @include svg(loader);
    background-size: 50px;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.search-loader{
    @include svg(loader);
    width: 100%;
    height: 40px;
    background-size: 40px;
    background-position: center;
    margin-top: 30px;
}
.form-wrapper{
    .title{
        @include light(28);
        text-transform: uppercase;
        color: $text2;
        text-align: center;
        margin-bottom: 20px;
    }
    .relative{
        padding: 20px 0 0;
        margin-bottom: 20px;
    }
    input[type="text"], input[type="password"]{
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1px solid $border;
    }
    .action{
        @include radius(50px);
        @include bold(15);
        background: $blue;
        color: $w;
        border: 1px solid $t;
        padding: 10px 80px;
        text-transform: capitalize;
        margin-top: 20px;
        
        &.disabled{
            background: #ccc;
            pointer-events: none;
        }
    }
}
.user-registered{
    padding: 100px 50px;
    background: $w;
    text-align: center;

    span{
        @include light(20);
        display: block;
        color: $text2;
        text-transform: capitalize;
        margin-bottom: 30px;

        &.sub{
            font-size: 16px;
            color: $b;
        }
    }
    a{
        @include radius(20px);
        @include reg(12);
        background: $blue;
        color: $w;
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $t;
    }
    &.failed{
        @include tl(0, 0);
        width: 100%;
        height: 100%;
    }
}
.login-failed{
    @include reg(14);
    @include radius(3px);
    padding: 15px 0;
    text-align: center;
    margin: 35px 0 15px;
    background: #ff5959;
    color: $w;
}
.switch{
    @include reg(13);
    color: $text2;
    text-align: center;
    margin: 35px 0 15px;

    a{
        color: $blue;
        position: relative;

        &:after{
            @include bl(0, 0);
            width: 100%;
            height: 1px;
            background: $blue;
            content: '';
        }
    }
}
.text-box{
    position: relative;

    .caption{
        @include transit(0.1s);
        @include tl(30px, 0);
        @include reg(14);
        pointer-events: none;
        font-style: normal;
        text-transform: capitalize;
        color: $text2;
    }
    &.filled{
        .caption{
            font-size: 12px;
            color: $blue;
            top: 0;
        }
    }
    .field-error{
        @include reg(12);
        color: #ff0000;
        margin: 5px 0 0;
        display: block;
        position: relative;
        padding-left: 10px;
        text-transform: capitalize;

        &:before{
            @include bold(12);
            @include tl(0, 0);
            content: '*';
        }
    }
}
.dashboard-flex{
    display: flex;
    flex-direction: column;

    a, div{
        @include material;
        @include light(18);
        @include radius(3px);
        display: block;
        margin-bottom: 20px;
        background: lighten($yellow, 10%);
        color: $b;
        border: 1px solid $t;
        text-transform: capitalize;
        text-align: center;
        padding: 30px 0;
    }
    a.active{
        background: darken($yellow, 15%);
    }
}
.dashboard-title{
    @include bold(20);
    padding: 20px 0;
    text-transform: capitalize;
    display: block;
    position: relative;

    &:after{
        @include bl(16px, 0);
        width: 60px;
        height: 1px;
        background: $blue;
        content: '';
    }
}
.user-details{
    div{
        font-size: 14px;
        color: $text2 !important;
        background: #eeeeee;
        color: $blue;
        padding: 100px 30px 50px !important;
        position: relative;

        &.email{
            text-transform: lowercase;
        }
        &:before{
            @include tl(50px, 50%);
            margin-left: -15px;
            content: '';
            width: 30px;
            height: 30px;
        }
        @each $item in $user{
            $index: index($user, $item);
            &:nth-child(#{$index}):before{
                @include svg(#{$item}-blue);
                background-size: 30px;
                background-position: center;
            }
        }
    }
}
#toastr-container.bottom-right{
    bottom: 26px;
    right: 30px;
}
.cart-section{
    position: relative;
}
#cart-table{
    table-layout: fixed;
    word-break: break-all;
    
    &.table{
        @include radius(4px);
        border-color: #ccc;
    }
    &.table > thead > tr > th{
        border-bottom: none;
    }
    .choose-wrapper{
        span{
            display: block;
            margin: 10px 0;
        }
        span, button{
            display: inline-block;
            vertical-align: middle;
        }
        button{
            @include radius(50%);
            width: 20px;
            height: 20px;
            border: 1px solid #333;
            background: $t;
            text-align: center;
            line-height: 20px;
            font-size: 0 !important;

            &.min{
                @include svg(min);
                background-position: center;
                background-size: 8px;
            }
            &.max{
                @include svg(max);
                background-position: center;
                background-size: 8px;
            }
            &.hiddden{
                display: none;
            }
        }
    }
    .delete-cart, .cart-status{
        @include svg(delete);
        background-size: 20px;
        background-position: center;
        width: 20px;
        height: 20px;
        border: none;   
    }
    tr{
        th{
            background: #eeeeee;
            padding: 20px 0;
        }
        td{
            padding: 20px 5px;
        }
        th, td{
            @include reg(10);
            text-transform: capitalize;
            vertical-align: middle;
            text-align: center;

            &:first-child{
                display: none;
            }
        }
    }
    .cart-status{
        width: 24px;
        height: 24px;
        position: relative;

        &:before{
            @include boxshadow(0, 0, 10px, 0, 0, 0, 0.25);
            @include transition;
            @include tr(50%, 120%);
            @include radius(3px);
            @include reg(14);
            background: $yellow;
            color: #333333;
            width: 140px;
            height: 26px;
            line-height: 26px;
            margin-top: -10px;
            opacity: 0;
            display: none;
        }
        &[data-cart="remove"]{
            @include svg(removecart);
            background-size: 24px;
            background-position: center;

            &:before{
                content: 'Remove from cart';
            }
        }
        &[data-cart="add"]{
            @include svg(addcart);
            background-size: 24px;
            background-position: center;

            &:before{
                content: 'Add to cart';
            }
        }
        &:hover:before{
            opacity: 1;
            display: block;
        }
    }
}
.amount-container{
    @include radius(6px);
    @include material;
    margin-top: 22px;
    padding: 30px;
    background: #f5f5f5;

    .title1{
        @include light(20);
        color: #333333;
        text-transform: capitalize;
        margin-bottom: 25px;
        position: relative;

        &:after{
            @include bl(-5px, 0);
            width: 50px;
            height: 2px;
            background: $blue;
            content: '';
        }
    }
    button{
        @include reg(17);
        @include radius(30px);
        padding: 6px 0;
        width: 100%;
        background: $blue;
        color: $w;
        border: 1px solid $t;
        text-transform: uppercase;
    }
}
.amount-flex{
    display: flex;
    flex-direction: column;

    .title2{
        @include reg(15);
        color: #333;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    span{
        @include reg(32);
        color: $blue;
        display: inline-block;
        position: relative;
        padding-left: 22px;
        margin-bottom: 15px;

        &:before{
            @include basvg(rupee, 22px, 22px, 22px);
            @include tl(50%, 0);
            margin-top: -10px;
        }
    }
}
.breadcrumb{
    @include boxshadow(0, 0, 5px, 0, 0, 0, 0.25);
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 35px;

    a, span{
        @include light(12);
        text-transform: capitalize;
        display: block;
        margin-bottom: 5px;
    }
}
.order-list{
    @include material;
    @include radius(5px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 30px;

    .img-holder, .order-left{
        margin-bottom: 15px;
    }
    .img-holder{
        width: 50%;

        img{
            width: 100%;
        }
    }
    .order-left{
        .title{
            @include bold(16);
            color: #333;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        span{
            @include reg(12);
            color: #888;
            text-transform: capitalize;
            display: block;
        }
    }
    .order-right{
        .ordered-on{
            @include reg(14);
            color: #888;
        }
        .total-price{
            @include reg(14);
            text-transform: capitalize;
            color: #888;
            
            em{
                font-size: 20px;
                font-style: normal;
                padding-left: 15px;
                position: relative;
                color: #333;

                &:before{
                    @include tl(50%, 0);
                    @include basvg(rupee, 15px, 15px, 15px);
                    margin-top: -6px;
                }
            }
        }
    }
}
.goto-order{
    @include light(18);
    color: #888;
    margin: -60px 0 60px;
    text-align: center;

    a{
        text-decoration: underline;
        letter-spacing: 1px;
    }
}
.search-section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1000;

    .tabled{
        width: 100%;
        height: 100%;
        display: table;
        position: relative;
    }
    .celled{
        display: table-cell;
        vertical-align: middle;
    }
    .search-content{
        width: 80%;
        margin: auto;

        input[type="text"]{
            width: 100%;
            height: 35px;
            background: $t;
            border: none;
            padding-left: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        }
        [placeholder]{
            color: $w !important;
        }
        .no-data{
            margin: 30px 0;
        }
    }
    .close-search{
        @include tr(20px, 20px);
        @include svg(close-white);
        display: inline-block;
        width: 35px;
        height: 35px;
        background-size: 22px;
        background-position: center;
    }
}
.search-scroll{
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;

    .search-results:last-of-type{
        margin-bottom: 0;
    }
}
.search-results{
    background: $w;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #888;

    .inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    img{
        padding: 5px;
        width: 80px;
        height: 50px;
        margin-right: 20px;
    }
    .title, .brand{
        @include reg(14);
        color: #333;
        text-transform: capitalize;
    }
    .brand{
        font-size: 12px;
        color: $blue;;
    }
}
.search-textbox{
    position: relative;

    &:before{
        @include tl(50%, 0);
        @include basvg(search, 14px, 14px, 14px);
        background-position: center;
        margin-top: -7px;
    }
}
//responsive
@media only screen and (min-width: 480px){
    #cart-table{
        tr{
            td{
                font-size: 14px;
            }
            th{
                @include reg(14);
            }
        }
    }
    .no-data{
        font-size: 22px;
    }
    header{
        .logo{
            display: inline-block;
        }
        .header-extras{
            text-align: right;
        }
    }
    .card-wrapper{
        .card img{
            padding: 0 30px;
        }
    }
    .breadcrumb{
        a, span{
            display: inline-block;
            vertical-align: middle;
        }
        a{
            padding-right: 20px;
            position: relative;

            &:after{
                @include tr(1px, 7px);
                content: '/';
            }
        }
    }
    .amount-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title2{
            margin-bottom: 0;
        }
        span{
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 768px){
    .order-section{
        margin-top: 35px;
    }
    header{
        padding-left: 60px;
        padding-right: 60px;

        .logo{
            .site-title{
                @include reg(22);
                color: $w;
                display: inline-block;
                vertical-align: middle;
                color: $w;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }
        .header-extras{
            width: calc(100% - 180px);
        }
    }
    .padding, .default-content, .profile-children{
        padding: 45px;
    }
    .category-content{
        padding: 45px;
    }
    .profile-children{
        width: 650px;
        margin: auto;
    }
    .user-registered{
        span{
            font-size: 32px;
        }
        a{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .dashboard-flex{
        margin-bottom: 20px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        a, div{
            width: calc((100% - 90px) / 4);
            margin-bottom: 0;
            position: relative;
        }
    }
    #cart-table{
        margin-top: 40px;

        .cart-status{
            width: 34px;
            height: 34px;
    
            &[data-cart="remove"]{
                background-size: 28px;
            }
            &[data-cart="add"]{
                background-size: 31px;
            }
        }
    }
    .amount-container{
        overflow: hidden;

        button{
            width: 220px;
            float: right;
        }
    }
    .order-list{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .img-holder, .order-left{
            margin-bottom: 0;
        }
        .img-holder{
            width: 110px;
            margin-right: 30px;
        }
        .order-left, .order-right{
            width: calc((100% - 110px) - 160px);
        }
        .order-right{
            text-align: right;

            .ordered-on{
                margin-bottom: 5px;
            }
        }
    }
    .search-section{
        .close-search{
            top: 25px;
            right: 25px;
        }
        .search-content{
            width: 600px;

            input[type="text"]{
                @include light(14);
                height: 45px;
                padding-left: 35px;
            }
        }
    }
    .search-textbox{
        &:before{
            width: 20px;
            height: 20px;
            background-size: 20px;
            background-position: center;
            margin-top: -10px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .default-content{
        overflow: hidden;
    }
    .amount-container{
        width: 60%;
        float: right;
    }
}

@media only screen and (min-width: 992px){
    .product-container{
        .product{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;

            .wishlist-icon{
                top: 40px;
                right: 50px;
            }
            .text-center{
                width: 40%;
            }
            .desktop-block{
                width: 58%;
                border-left: 1px solid #ddd;
                
                .card-inner{
                    padding: 40px;
                }
            }
            .details{
                padding: 40px;
            }
        }
    }
    #cart-table{
        @include material;
        overflow: hidden;

        .choose-wrapper{
            div, span{
                display: inline-block;
                vertical-align: middle;
            }
            span{
                margin: 0;
                width: 45px;
            }
        }
        tr{
            th{
                font-size: 16px;
            }
            th, td{
                &:first-child{
                    display: table-cell;
                }
            }
            td{
                @include reg(16);
            }
        }
        img{
            width: 100px;
        }
    }
    .size{
        padding-left: 40px;
        padding-right: 40px;
    }
    .order-list{
        .order-left{
            span{
                display: inline-block;
                vertical-align: middle;
                margin-right: 30px;
                position: relative;

                &:after{
                    @include bold(14);
                    @include tr(-2px, -15px);
                    content: '|';
                }
                &:last-of-type:after{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    #root-container{
        background-color: $w;
        // margin-bottom: 80px;
        // position: relative;
        // z-index: 100;
        // overflow: hidden;
    }
    // footer{
    //     display: block;
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 1;
    //     bottom: 0;
    //     width: 100%;
    //     height: 80px;
    //     background: #ccc;
    //     text-align: center;

    //     span{
    //         display: inline-block;
    //         width: 50px;
    //         height: 50px;
            
    //         &:not(:first-child){
    //             margin-right: 30px;
    //         }
    //         @each $item in $poweredby{
    //             $index: index($poweredby, $item);
    //             &:nth-child(#{$index}){
    //                 @include png(#{$item});
    //                 background-size: 40px;
    //                 background-position: center;
    //             }
    //         }
    //     }
    // }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    a, button, input[type="submit"]{
        @include transition;
    }
    .card-wrapper{
        @include transition;

        &:hover{
            @include boxshadow(0, 0, 20px, 0, 0, 0, 0.55);
        }
        .wishlist{
            @include transition;

            &:hover{
                @include boxshadow(0, 0, 0, 0, 0, 0, 0.0);
                border: 1px solid $border;
            }
        }
    }
    .card-inner{
        padding: 30px;
        position: relative;

        .rating{
            @include radius(50%);
            width: 40px;
            height: 40px;
            padding: 0;
            line-height: 40px;
        }
    }
    .categories{
        a{
            &:hover{
                background: darken($blue, 5%);
            }
        }
    }
    .product-container{
        .product{
            .desktop-block{
                min-width: 80vh;
            }
            .cart:hover{
                background: $blue;
                color: $w;
            }
        }
    }
    .size{
        padding: 40px;
    }
    .form-wrapper{
        .action:hover{
            background: $t;
            color: $text2;
            border-color: $blue;
        }
    }
    .user-registered{
        a:hover{
            background: $t;
            border-color: $blue;
            color: $blue;
        }
    }
    .dashboard-flex{
        a{
            @include reg(18);

            &:hover{
                @include boxshadow(0, 0, 15px, 0, 0, 0, 0.5);
                background: darken($yellow, 15%);
            }
            &.active:hover{
                @include boxshadow(0, 0, 10px, 0, 0, 0, 0.3);
                background: darken($yellow, 15%);
            }
            &:before{
                @include bl(7px, 7px);
                content: '';
                width: 50px;
                height: 50px;
            }
            @each $item in $bg{
                $index: index($bg, $item);
                &:nth-child(#{$index}):before{
                    @include svg(#{$item}-bg);
                    background-size: 50px;
                }
            }
        }
    }
    #cart-table{
        .choose-wrapper{
            button{
                width: 28px;
                height: 28px;

                &:hover{
                    background-color: $yellow;
                }
                &.min, &.max{
                    background-size: 9px;
                    background-position: center;
                }
                &.hiddden{
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }
    .breadcrumb{
        padding: 20px 30px 16px;

        a, span{
            @include light(14);
            letter-spacing: 1px;
        }
        a{
            &:before{
                @include transition;
                @include bl(-3px, 0);
                content: '';
                width: 0;
                height: 1px;
                background: lighten($blue, 10%);
            }
            &:hover:before{
                width: 30px;
            }
        }
    }
    .desktop-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;

        #cart-table, .amount-container{
            margin: 0;
        }
        #cart-table{
            width: calc((100% - 23.5%) - 30px);
        }
        .amount-container{
            width: 23.5%;
            padding: 0 30px 60px;

            .title1{
                @include reg(16);
                height: 61px;
                line-height: 61px;
                border-bottom: 1px solid #ccc;
                margin: 0 -30px 40px;
                padding: 0 30px;
                background: #eeeeee;
                
                &:after{
                    display: none;
                }
            }
            button{
                @include reg(20);
                width: 100%;

                &:hover{
                    @include material;
                    background: $yellow;
                    color: #333;
                }
            }
        }
        .amount-flex{
            margin-bottom: 40px;
        }
    }
    .order-list{
        margin-bottom: 30px;
    }
    .wishlist-icon:hover, .cart-icon:hover{
        @include boxshadow(0, 0, 0, 0, 0, 0, 0);
        background-color: lighten($blue, 25%);
    }
}