<div class="profile-children form-wrapper">
    <div *ngIf="isLoading" class="loader"></div>   
    <form *ngIf="hideForm" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="title">register</div>
        <div class="row">
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">name</em>
                    <input appCustomTextbox type="text" [formControl]="registerForm.controls['name']">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">username</em>
                    <input #usernameInput appCustomTextbox appModifyUsername type="text" [formControl]="registerForm.controls['username']">
                    <div *ngIf="registerForm.controls['username'].dirty && registerForm.controls['username'].hasError('minlength')" class="field-error">
                        username must hava a min. length of 5 characters
                    </div>
                    <div *ngIf="usernameLoader" class="username-loader">Checking username availability...</div>
                    <div *ngIf="usernameNotAvailable" class="field-error username-check not-available">username already in use</div>
                    <div *ngIf="usernameAvailable" class="field-error username-check available">username available</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">email</em>
                    <input appCustomTextbox type="text" [formControl]="registerForm.controls['email']" email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div *ngIf="registerForm.controls['email'].dirty && registerForm.controls['email'].invalid" class="field-error">
                        email not valid
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">contact no.</em>
                    <input appCustomTextbox appNumbersOnly type="text" [formControl]="registerForm.controls['contactNumber']" maxlength="10">
                    <div *ngIf="registerForm.controls['contactNumber'].dirty && registerForm.controls['contactNumber'].hasError('numberValidation')" class="field-error">
                        only numbers allowed
                    </div>
                    <div *ngIf="registerForm.controls['contactNumber'].dirty && registerForm.controls['contactNumber'].hasError('minlength')" class="field-error">
                        minimum 10 numbers
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="relative text-box">
                    <em class="caption">address</em>
                    <input appCustomTextbox type="text" [formControl]="registerForm.controls['address']">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">password</em>
                    <input appCustomTextbox type="password" [formControl]="registerForm.controls['password']">
                    <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].invalid" class="field-error">
                        password must be 6 characters long
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="relative text-box">
                    <em class="caption">confirm password</em>
                    <input appCustomTextbox type="password" [formControl]="registerForm.controls['confirmPassword']">
                    <div *ngIf="(registerForm.controls['password'].dirty && registerForm.controls['confirmPassword'].dirty) 
                    && registerForm.controls['confirmPassword'].hasError('matchingPasswordValidation')" class="field-error">
                        passwords don't match
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button [class.disabled]="registerForm.invalid" class="action">register</button>
        </div>
    </form>
    <ng-container *ngIf="isUserRegistered">
        <div class="user-registered">
            <span>user registration successful!</span>
            <a [routerLink]="['/profile/login']">Login using new credentials</a>
        </div>
    </ng-container>
    <div class="switch">
        Already have an account? <a [routerLink]="['/profile/login']">Login</a>.
    </div>
</div>